body {
  display: grid;
  grid-template-areas: "header header header"
    "home home home"
    "sobre sobre sobre"
    "catalogo catalogo catalogo"
    "contato contato contato";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5);
}

/* HEADER */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #354f52;
  padding: 30px 50px;
}

.header .logo {
  display: flex;
  gap: 8px;
}

.header h1,
.header-conteudo a {
  color: #ffffff;
}

.header h1 {
  transition: 0.4s ease;
}

.header:hover h1 {
  color: #ffbe0b;
}

.header .logo img {
  max-width: 40px;
}

.header-conteudo ul {
  display: flex;
  gap: 50px;
}

.header-conteudo a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}

.header-conteudo a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ffbe0b;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.header-conteudo a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* RESPONSIVE-HAMBURGUER */
.header .menu {
  display: none;
  width: 60px;
  height: 60px;
  align-self: flex-end;
}

.header nav label {
  display: flex;
  flex-direction: column;
}

.header .menu-hamburguer {
  display: block;
  background-color: #ffffff;
  position: relative;
  top: 29px;
  left: 15px;
  width: 30px;
  height: 2px;
  transition: 0.5s ease-in-out;
}

.header .menu-hamburguer:before,
.header .menu-hamburguer:after {
  content: "";
  background-color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.header .menu-hamburguer:before {
  top: -10px;
}

.header .menu-hamburguer:after {
  bottom: -10px;
}

.header input {
  display: none;
}

.header input:checked~label .menu-hamburguer {
  transform: rotate(45deg);
}

.header input:checked~label .menu-hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

.header input:checked~label .menu-hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

/* HOME - CARROSSEL DE IMAGENS */
.home {
  position: relative;
  height: 84vh;
  display: flex;
  align-items: center;
  grid-area: home;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home .slide.mostrar {
  opacity: 1;
}

.slide-1 {
  background-image: url('../images/carrossel-1.jpg');
}

.slide-2 {
  background-image: url('../images/carrossel-2.jpg');
}

.slide-3 {
  background-image: url('../images/carrossel-3.jpg');
}

.slide-4 {
  background-image: url('../images/carrossel-4.jpg');
}

.seta-voltar,
.seta-avancar {
  position: absolute;
  z-index: 2;
}

.home .seta-voltar img,
.home .seta-avancar img {
  max-width: 35px;
  height: 50px;
}

.seta-voltar {
  left: 4%;
}

.seta-avancar {
  right: 4%;
}

.conteudo-imagem {
  max-width: 400px;
  margin-left: 200px;
  z-index: 2;
}

.conteudo-imagem h2,
.conteudo-imagem p {
  color: #ffffff;
  margin-bottom: 20px;
}

.conteudo-imagem h2 {
  font-size: 40px;
  color: #ffbe0b;
  font-weight: 700;
}

.conteudo-imagem p {
  font-weight: 500;
}

.btn-peca-ja {
  background-color: #ffbe0b;
  color: #000000;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4 ease-in;
}

.btn-peca-ja:hover {
  background-color: #ffd60a;
}

/* SOBRE */
.sobre {
  grid-area: sobre;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url('../images/tijolo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sobre .item {
  padding: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.sobre .item h3 {
  color: #ffbe0b;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sobre .item p {
  color: #ffffff;
  font-weight: 500;
}

.sobre .imagem-direita,
.sobre .imagem-esquerda {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sobre .imagem-direita {
  background-image: url('../images/hamburguer-png.png');
}

.sobre .imagem-esquerda {
  background-image: url('../images/pizza-marguerita.png');
}

/* CATALOGO */
.catalogo {
  grid-area: catalogo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #354f52);
}

.catalogo h2 {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 700;
  color: #ffbe0b;
}

.icons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.icons img {
  max-width: 70px;
  transition: transform 0.3s ease;
}

.icons .hamburguer-icon:hover img,
.icons .pizza-icon:hover img,
.icons .sobremesa-icon:hover img {
  transform: scale(1.1);
}

.catalogo .items {
  display: none;
}

.catalogo .items.mostrar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.hamburguer img,
.pizza img,
.sobremesa img {
  max-width: 250px;
  z-index: 2;
}

.hamburguer,
.pizza,
.doce {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 10px;
  border-radius: 90px;
  max-height: 295px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.x-tudo img,
.x-bacon img,
.x-salada img {
  transition: transform 0.3s ease;
}

.x-tudo:hover img,
.x-bacon:hover img,
.x-salada:hover img {
  transform: scale(1.1);
}

.calabresa img,
.queijo img,
.marguerita img {
  transition: transform 0.3s ease;
}

.calabresa:hover img,
.queijo:hover img,
.marguerita:hover img {
  transform: scale(1.1);
}

.doce img {
  transition: transform 0.3s ease;
}

.doce:hover img {
  transform: scale(1.1);
}

.catalogo .items h4 {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.catalogo .items .btn-comprar {
  background-color: #ffbe0b;
  color: #000000;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4 ease-in;
  margin: 10px 0;
}

/* FOOTER */
footer {
  grid-area: contato;
  padding: 30px;
  /* background: linear-gradient(to top, #000000, #354f52) */
  background-color: #000000;
}

.footer-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.footer-conteudo .contato,
.footer-conteudo .informacao,
.footer-conteudo .redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-conteudo .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 8px;
  margin-bottom: 10px;
}

.footer-conteudo h3 {
  color: #ffbe0b;
  margin-bottom: 8px;
}

.footer-conteudo .logo img {
  max-width: 40px;
}

.footer-conteudo .informacao li,
.footer-conteudo .redes-sociais li {
  margin: 8px 0;
}

.footer-conteudo .contato p {
  margin-bottom: 5px;
}

.footer-conteudo .redes-sociais li {
  font-size: 20px;
  cursor: pointer;
}