body {
    display: grid;
    grid-template-areas: "header header"
                         "home home"
                         "sobre sobre";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5);                         
}

/* HEADER */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #354f52;
    padding: 30px 50px;
}

.header .logo {
    display: flex;
    gap: 8px;
}

.header h1, .header-conteudo a{
    color: #ffffff;
}

.header .logo img {
    max-width: 40px;
}

.header-conteudo ul {
    display: flex;
    gap: 50px;
}

.header-conteudo a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
  }

  .header-conteudo a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px; 
    background-color: #ffbe0b;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease-out; 
  }

  .header-conteudo a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* HOME - CARROSSEL DE IMAGENS */
  .home {
    position: relative;
    height: 84vh;
    display: flex;
    align-items: center;
    grid-area: home;
  }

  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
  }

  .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }

  .home .slide.mostrar {
    opacity: 1;
  }

  .slide-1 {
    background-image: url('../images/carrossel-1.jpg');
  }

  .slide-2 {
    background-image: url('../images/carrossel-2.jpg');
  }

  .slide-3 {
    background-image: url('../images/carrossel-3.jpg');
  }

  .slide-4 {
    background-image: url('../images/carrossel-4.jpg');
  }

  .seta-voltar, .seta-avancar {
    position: absolute;
    z-index: 2;
  }

  .seta-voltar {
    left: 4%;
  }

  .seta-avancar {
    right: 4%;
  }

  .opacidade {
    opacity: 0.6;
    cursor: default;
}

  .conteudo-imagem {
    max-width: 400px;
    margin-left: 200px;
    z-index: 2;
  }

  .conteudo-imagem h2,
  .conteudo-imagem p {
    color: #ffffff;
    margin-bottom: 20px;
  }

  .conteudo-imagem h2 {
    font-size: 40px;
    color: #ffbe0b;
    font-weight: 700;
  }

  .conteudo-imagem p {
    font: 500;
  }

  .btn-peca-ja {
    border: none;
    background-color: #ffbe0b;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: 0.4 ease-in-out;
  }

  .btn-peca-ja:hover {
    background-color: #ffd60a;
  }

  /* SOBRE */
  .sobre {
    grid-area: sobre;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('../images/tijolo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sobre .item {
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
  }

  .sobre .item h3 {
    color: #ffbe0b;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .sobre .item p {
    color: #ffffff;
    font-weight: 500;
  }

  .sobre .imagem-direita,
  .sobre .imagem-esquerda {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .sobre .imagem-direita {
    background-image: url('../images/hamburguer-png.png');
  }

  .sobre .imagem-esquerda {
    background-image: url('../images/pizza-marguerita.png');
  }